<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout.html}">
<head>
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta charset="UTF-8">
  <title th:text="|비밀번호 찾기|"></title>

</head>
<body>
<th:block layout:fragment="content">
  <div class="container pt-5">
    <h2>가입하실 때 입력하신 이메일을 입력해주세요. </h2>
    <label for="email">비밀번호 찾기</label>
    <div class="input-group">
      <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요" required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" id="sendVerification">임시 비밀번호 생성</button>
      </div>
    </div>
  </div>

  <script>
    // CSRF 토큰 설정
    var header = $("meta[name='_csrf_header']").attr('content');
    var token = $("meta[name='_csrf']").attr('content');

    $(document).ready(function() {
      // 인증 메일 발송 버튼 클릭 시 이벤트
      $('#sendVerification').click(function () {
        const email = $('#email').val();
        if(!email || email.trim() === ""){
          alert("이메일을 입력하세요")
          return;
        }

        $.ajax({
          url: '/checkEmail',
          type: 'GET',
          beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
          },
          data: {
            email: email
          },
        }).done(function(result) {
          console.log("result : " + result);
          if (JSON.parse(result) === true) {
            sendEmail();
            alert('임시비밀번호를 전송 했습니다.');
            window.location.href="/login";
          } else {
            alert('가입되지 않은 이메일입니다.');
          }
        });
      });
    });

    function sendEmail(){
      const email = $('#email').val();
      $.ajax({
        type: 'POST',
        url: '/findPassword',
        data: {
          'email' : email
        },
        beforeSend: function(xhr) {
          xhr.setRequestHeader(header, token);
        },
        error: function(error){
          alert(JSON.stringify(error));
        }
      })
    }
  </script>
</th:block>
</body>
</html>