<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<th:block layout:fragment="content">
    <body>
    <div class="container">
        <form th:action="@{/signup}" th:object="${memberDto}" method="POST">
            <h2 class="mb-4">회원가입</h2>
            <div th:if="${#fields.hasErrors('id')}" class="alert alert-danger">
                이미 존재하는 아이디입니다.
            </div>
            <div class="form-group">
                <label for="id">아이디 (최대 16자)</label>
                <input type="text" class="form-control" id="id" name="id" placeholder="아이디를 입력하세요" th:field="*{id}"
                       required>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요"
                       th:field="*{password}" required>
            </div>
            <div class="form-group">
                <label for="password_check">비밀번호 확인</label>
                <input type="password" class="form-control" id="password_check" name="password_check"
                       placeholder="비밀번호를 다시 입력하세요" th:field="*{password_check}" required>
                <div th:if="${#fields.hasErrors('password_check')}" class="invalid-feedback">
                    비밀번호가 일치하지 않습니다.
                </div>
            </div>
            <div class="form-group">
                <label for="nickname">닉네임 (최대 8자)</label>
                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="닉네임을 입력하세요"
                       th:field="*{nickname}" required>
                <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요"
                       th:field="*{email}" required>
                <small class="form-text text-muted">아이디/비밀번호 찾기시 이용할 이메일</small>
            </div>
            <button type="submit" class="btn btn-primary">가입하기</button>
        </form>
    </div>
    </body>
</th:block>
</html>