<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout.html}">
<head>
  <meta charset="UTF-8">
  <title th:text="|회원탈퇴|">
  </title>
</head>
<body>
<th:block layout:fragment="content">
  <div class="container pt-5">
    <h2>탈퇴를 원하시면 현재 비밀번호를 입력하세요.</h2>
    <form th:action="@{/member/withdraw}" method="post" th:object="${withdrawMemberRequest}">
      <input type="password" id="password" th:field="*{password}" class="form-control" required>
      <p th:if="${#fields.hasErrors('password')}" class="text-danger">비밀번호가 일치하지 않습니다.</p>
      <label for="password">비밀번호</label>
      <button type="submit" class="btn btn-primary">회원 탈퇴</button>
    </form>
  </div>
</th:block>
</body>
</html>