<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>500 Error</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="errorCSS.css">
</head>
<body>
<div class="error-container d-none" id="error-500">
  <div class="text-center">
    <h1 class="display-1 text-danger">500</h1>
    <h2 class="mb-4">내부 서버에러입니다. 다시 시도해 주세요.</h2>
    <a href="/" class="btn btn-primary">메인 페이지로</a>
  </div>
</div>
</body>
</html>