<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- 웹소켓 사용시에도 CSRF 토큰을 전달해야 함 -->
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>채팅방</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
<header th:replace="~{/fragment/header.html}" ></header>
<div class="container" id="app" v-cloak>
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12">
        <h4>
          {{roomName}}
          <span class="badge badge-info badge-pill">{{userCount}}</span>
          <a class="btn btn-info btn-sm" href="/chat/room" @click="unsubscribeRoom()">채팅방 나가기</a>
        </h4>
      </div>
      <div class="col-md-12">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
          </div>
          <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage('TALK')">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage('TALK')">보내기</button>
          </div>
        </div>
        <ul class="list-group" style="max-height: 300px; overflow-y: auto;">
          <li class="list-group-item" v-for="message in messages">
            {{message.sender}} - {{message.message}}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <h4>현재 참여 중인 유저</h4>
      <ul class="list-group">
        <li class="list-group-item" v-for="user in users">
          {{user}}
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
  const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content')
  const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content')

  Vue.prototype.$csrf = csrfToken
  Vue.prototype.$csrfHeader = csrfHeader

  var sock = new SockJS("/ws-stomp");
  var ws = Stomp.over(sock);
  var reconnect = 0;
  // vue.js
  var vm = new Vue({
    el: '#app',
    data: {
      roomId: '',
      room: {},
      sender: '',
      message: '',
      messages: [],
      csrfConfig: {
        headers: {
          [this.$csrfHeader]: this.$csrf
        }
      },
      userCount: 0,
      username: '',
      sub : null,
      users: []
    },
    created() { //vue 인스턴스 생성수 연결
      this.roomId = localStorage.getItem('wschat.roomId');
      this.roomName = localStorage.getItem('wschat.roomName');
      var _this = this;
      ws.connect({}, function(frame) { // websocket 연결 요청, 성공시 function(frame)동작
        _this.sub = ws.subscribe("/sub/chat/room/" + _this.roomId, function(message){ //구독
          var recv = JSON.parse(message.body);
          _this.recvMessage(recv);
        }, _this.csrfConfig);
      }, function(error){
        alert("서버 연결에 실패했습니다. 다시 시도해 주세요.");
        location.href="/chat/room";
      });
      _this.attendingUser();
      _this.loadChattingMessage();
    },
    methods: {
      sendMessage: function() {
        //destiation으로 header를 들고 전송, body는 반드시 string 형태, (JSON)
        ws.send("/pub/chat/message", this.csrfConfig, JSON.stringify({type:'TALK', roomId:this.roomId, message:this.message}));
        this.message = '';
      },
      recvMessage: function(recv) {
        this.userCount = recv.userCount;
        this.messages.unshift({"type": recv.type, "sender": recv.sender, "message": recv.message});
        //퇴장처리를 했을때 채팅방 리스트에서 제거
        if(recv.type === 'QUIT'){
          const username = recv.message.split("님")[0];
          const index = this.users.indexOf(username);
          if(index !== -1){
            this.users.splice(index, 1);
          }
        }
        //새로운 유저 입장 --> 리스트 추가
        if(recv.type === 'ENTER'){
          const username = recv.message.split("님")[0];
          this.users.push(username);
        }
      },
      // 채팅방 나가기시 구독을 푼다. // 일반적으로 뒤로가기 밑 패팅방을 종료하면 아예 disconnect 처리 된다.
      unsubscribeRoom: function(){
        if(confirm("정말 채팅방에서 나가시겠습니까?")){
          if(this.sub == null){
            alert('sub is null')
          }
          else {
            this.sub.unsubscribe();
            alert('퇴장하였습니다.');
          }
        }
      },
      //현재 채팅방에 참여중인 멤버 목록을 가져온다.
      attendingUser: function(){
        const _this = this;
        axios.get('/chat/participants', {
          params: {
            roomId: _this.roomId
          }
        }).then(
                response => {
                  _this.users = response.data
                }
        ).catch(response => alert('채팅방에 참여중인 유저를 가져오지 못했습니다.'))
      },
      loadChattingMessage: function(){
        const _this = this;
        axios.get('/chat/historyMessage', {
          params: {
            roomId: _this.roomId
          }
        }).then(
                response => {
                  console.log(response.data);
                  _this.messages = response.data;
                }
        ).catch(response => {
          console.log(response);
          alert('잘못된 요청입니다..ㅠㅠ')
        })
      }
    }
  });
</script>
</body>
</html>