<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사이트 제목</title>
  <style>
    /* CSS 스타일링 */
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #f0f0f0;
    }

    .left-button, .right-buttons {
      display: flex;
      align-items: center;
    }

    .right-buttons button {
      margin-left: 10px;
    }
  </style>
</head>
<body>
<header>
  <div class="left-button">
    <!-- 메인페이지로 리다이렉트하는 버튼 -->
    <button th:onclick="|location.href='@{/main}'|">메인페이지</button>
  </div>
  <div class="right-buttons">
    <!-- 회원가입 버튼 로그인하지 않은 사람만 보이게 -->
    <button sec:authorize="!isAuthenticated()" th:onclick="|location.href='@{/signup}'|">회원가입</button>
    <button sec:authorize="!isAuthenticated()" th:onclick="|location.href='@{/login}'|">로그인</button>

    <!-- 로그인 한 경우 -->
    <div sec:authorize="isAuthenticated()" style="display:flex">
      <button type="button" th:onclick="|location.href='@{/member/modify/{memberId}(memberId = ${#authentication.principal.member.id})}'|"
              th:text="|${#authentication.principal.member.nickname}|" ></button>
      <button type="button" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
    </div>

  </div>
</header>
</body>
</html>